@font-face {
    font-family: Raleway;
    src: url('../shared/fonts/Raleway-Regular.ttf');
    font-weight: 400;
}

:root {
    --dark: #171621;
    --grey: #737373;
}

body {
    width: 100%;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-weight: 400;
    color: var(--dark);
    box-sizing: border-box;
}