.todo {
  width: 100%;
  max-width: 768px;
  transform: translateY(40px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .todo {
    padding: 0 10px;
  }
}
